<div class="container">
        <h2 class="inline heading-style-stub heading-style-1 heading-size-l">New + Coming soon</h2>
	<div class="row">
			<div class="well">
            <!-- Carousel
            ================================================== -->            
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">                        
                            <div class="col-md-2">   
                                <a href="#" class="thumbnail"><img class="img-responsive" src="https://cdn.empireonline.com/jpg/70/0/0/1280/960/aspectfit/0/0/0/0/0/0/c/articles/599f53741deb298668eb8728/blade-runner-2049-poster.jpg" alt="Thumb11"> </a>                               
                                                    
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Blade Runner 2049</a>
                           
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://1.fwcdn.pl/po/79/70/707970/7798830.5.jpg" alt="Thumb12"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Thor Ragnarok</a>
                                
                            </div>
                          
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr1PrOOLdZLzgyG9wsu71WMpzj1HROIYcgPiJrolr5MPMNG1OA" alt="Thumb13"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Daddy's Home 2</a>
                                
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://t0.gstatic.com/images?q=tbn:ANd9GcTbr9aajZtJiuhXc_biRws9jzCi4u1q4MWvyPVe0rGO9Z0RwDqT" alt="Thumb14"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Unite the league</a>
                                
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4d8mApy56pVxNYgvlwS5PAJSVXOeGzIFsm8Z-FQ0dpyHce1vNpA" alt="Thumb21"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">COCO 2017</a>
                                
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/article_width/public/2017/07/star-wars-the-last-jedi-luke-skywalker-poster.jpg?itok=-M-HGQ86" alt="Thumb22"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Star wars the last jedi</a>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://www.impawards.com/2017/posters/jumanji_welcome_to_the_jungle.jpg" alt="Thumb21"></a>
                                <a class="heading-style-1 footer-coming-soon--heading" href="#">Jumanji:Welcome to the jungle</a>
                                
                          
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb22"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb23"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb24"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb21"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb22"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb31"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb32"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb33"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb34"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb21"></a>
                            </div>
                            <div class="col-md-2"><a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb22"></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>                
            </div><!-- End Carousel --> 
        </div><!-- End Well -->
    </div>
</div>
<div class="container">      
     <div class="row">
        <h2 class="inline heading-style-stub heading-style-1 heading-size-l">Movie Times & Ticket Booking</h2>      
        <div id="paginator"></div>
    </div>

    <div class="row">
        <ul ng-repeat="movie in seanceSelecteDate">
           
            <div class="col-md-9 " >
            <li class="fd-movie ">
                <div class="fd-movie__poster">
                    <a href="/boo2amadeahalloween-203996/movie-overview" class="thumbnail">
                    <img ng-src="{{movie.poster}}" alt="">
                     </a>
                </div>
                <div class="fd-movie__details">
                    <h4 style=" text-transform: uppercase!important;" class="fd-movie__title" ng-model="reservation.title" >
                       {{movie.title}}
                    </h4>
                </div>
                 <ul class="fd-movie__showtimes">
                    <li class="fd-movie__showtimes-variant">
                         <h4 class="fd-movie__showtimes__tick-headline font-serif">
                           <i class="fa fa-ticket" aria-hidden="true"></i>
                            Sélectionnez l'heure de la séance souhaitée 
                            </h4>
                            <ul class="fd-movie__btn-list " ng-repeat="e in movie.seance">
                                <li class="fd-movie__btn-list-item" >
                                       <button class=" btn button" data-target="#myBookModel"   data-toggle="modal">{{e.seanceHour}}</button>                                                                            
                                 </li>
                               
                            </ul>
                        </li>
                    </ul>
            </li>
            </div>
           
                   
                            
                        </ul>
                </div>
    <div id="myBookModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
              <!-- Modal content-->
             <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                        <i class="fa fa-ticket" ></i>  Réservation      
                        
                        </h4>
                </div>
    <form name="bookTicket" ng-submit="submitForm(bookTicket.$valid)" novalidate>
         <div class="modal-body">
                <div class="row">
                        <div class="col-md-6 classWithPad">
                        <div class="form-group" ng-class="{ 'has-error' : bookTicket.name.$invalid && !bookTicket.name.$pristine }">
                                <label>
                                    <b class="titleText"> Nom </b>
                                 </label>
                                 <input type="text" name="name" class="form-control" ng-model="reservation.name" required>
                                 <p ng-show="bookTicket.name.$invalid && !bookTicket.name.$pristine" class="help-block">Merci d'entrer votre nom .</p>
                                 
                        </div>
                        </div>
                                             
                        
                        <div class="col-md-6 classWithPad">
                                <div class="form-group" ng-class="{ 'has-error' : bookTicket.prenom.$invalid && !bookTicket.prenom.$pristine }">
                                        <label>
                                            <b class="titleText"> prénom </b>
                                         </label>
                                         <input type="text" name="prenom" class="form-control" ng-model="reservation.prenom" required>
                                         <p ng-show="bookTicket.prenom.$invalid && !bookTicket.prenom.$pristine" class="help-block">Merci d'entrer votre prénom.</p>
                                         
                                </div>
                        </div>
                        <div class="col-md-6 classWithPad">
                                <div class="form-group" ng-class="{ 'has-error' : bookTicket.email.$invalid && !bookTicket.email.$pristine }">
                                        <label>
                                            <b class="titleText"> E-mail </b>
                                         </label>
                                         <input type="email" name="email" class="form-control" ng-model="reservation.email" required>
                                         <p ng-show="bookTicket.email.$invalid && !bookTicket.email.$pristine" class="help-block">Merci d'entrer un email valide</p>
                                         
                                </div>
                        </div>

                        <div class="col-md-6 classWithPad">
                                <div class="form-group" ng-class="{ 'has-error' : bookTicket.tel.$invalid && !bookTicket.tel.$pristine }">
                                        <label>
                                            <b class="titleText"> Téléphone </b>
                                         </label>
                                         <input type="text" name="tel" class="form-control" ng-model="reservation.tel" required>
                                         <p ng-show="bookTicket.tel.$invalid && !bookTicket.tel.$pristine" class="help-block">Merci d'entrer numéro fe téléphone.</p>
                                         
                                </div>
                        </div>
                        <div class="col-md-6 classWithPad">
                                
                            <div class="form-group" ng-class="{ 'has-error' : bookTicket.nbrTickets.$invalid && !bookTicket.nbrTickets.$pristine }">
                                    <label>Nombre de tickets
                                        <b class="titleText">  </b>
                                    </label>
                                    <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                            </span>
                                            <input type="text" name="nbrTickets"  ng-model="reservation.nbrTickets" class="form-control text-center" value="1">
                                            <p ng-show="bookTicket.nbrTickets.$invalid && !bookTicket.nbrTickets.$pristine" class="help-block">Merci d'entrer le nombre de ticket.</p>
                                            
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>                                                    
                            </div>
                            </div>         
                   </div>  
                 </div>
         <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" type="submit" class="btn button" ng-disabled="bookTicket.$invalid" ng-click="savereserv(reservation)"  data-dismiss="modal">Confirmer</button>
         </div>
        </form>
        
  </div>
 </div>
 </div>
</div>
        
